/*********************
General
***********************/

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

#wrapper {
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
}

/**********************
Heading
**********************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}


#logo {
  text-align: center;
  margin: 0;
}

h1 {
font-family:sans-serif;
margin: 15px 0;
font-size: 1.75em;
font-weight: normal;
line-height: 0.8em;
}

h2 {
font-size: 1.50em;
margin: -5px 0 0;
font-weight: normal;
}
/*********
the element below centers the links
(portfolio, About, and Contact)
*********/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

/**********************
Footer
**********************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**********************
Footer
**********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 55px;
  height: 40px;
  margin: 0 5px;
}

.twitter-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

/**********************
Page Portfolio
**********************/


#gallery {
margin: 0;
padding: 0;
list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
margin: 0;
padding: 5%;
font-size: 0.75em;
color: #bdc3c7;
}

/**********************
Page About
**********************/

.profile-photo {
  float: left;
  margin: 0 5% 80px 0;
}

/* the below style my profile picture*/
.profile-photo {
display: block;
max-width: 150px;
margin: 0 auto 30px;
border-radius: 20px;
}


/**********************
Page Contact
**********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
display: block;
min-height: 20px;
background-repeat: no-repeat;
background-size: 20px 28px;
padding: 0 0 0 30px;
margin: 0 0 10px;
}

.contact-info li.email a {
  background-image: url('../img/email.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/**********************
Colors
**********************/
a {
  color: #6ab41b;
}

header {
background: #6ab47b;
border-color: #599a68;
}

/**********************
Colors
**********************/

/* logo text */
h1, h2 {
  color: #fff;
}

/*nav backgound for mobile */
nav {
background: #599a6b;
}

/*  below I added the psudoclass :visited
so even if we click the back button it remaines white
even if the page has been visited
 */
nav a, nav a:visited {
  color: #fff;
}

/* below I added the psuedoclass hover.
Its used when we hover over the nav with our cursor
it will change to this color
*/
nav a.selected, nav a:hover {
  color: #32673f;
}

body {
  background-color: #fff;
  color: #999;
}
